/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{box-sizing: border-box;}
:root {
  --background: #001242;
  --foreground: #f6f2ee;
  
}

@font-face {
  font-family: 'WeekendRacingDemoRegular';
  src: url(./fonts/WeekendRacingDemoRegular.ttf);
}
@font-face {
  font-family:'TT-Backwards-Sans-Light Trial' ;
  src: url(./fonts/TT-Backwards-Sans-Light\ Trial.ttf);
}
body {
  color: var(--foreground);
  background: url('../components/images/pexels-cottonbro-9665185.jpg');
  background-position: center;
  background-size: cover;
  font-family: 'TT-Backwards-Sans-Light Trial' sans-serif;
 }

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px;

 }
 .navlinks{
  text-decoration: none;
  color: var(--foreground);
  margin-right: 70px;
 }
 .navlinks:hover{
  color:#6a89de;
 }
 
 .sicons{
  position: relative;
  right: 100px;
 }
 .navlinksi{
  margin-right: 30px;
 }
 .logo{
  position: relative;
  right: 200px;
 }
 /*Content*/
.maincontent{
  display: grid;
  grid-template-columns: 700px 700px;
  margin-top: 200px;
}
.intro{
  place-self:center;
  
}
.introtext{
  text-align: left;
  text-wrap: wrap;
  width: 500px;

}

.introtext h1{
  font-size: 28pt;
  font-family:  'WeekendRacingDemoRegular', sans-serif;
}
.introtext p{
  font-size: 12pt;
  font-family:  'Arial', sans-serif;
}
.img{
  place-self: center;
  animation: float 3s ease-in-out 0.5s infinite;
  width: 300px;
  height: 300px;
}

.icons{
  display: flex;
  width: 200px;
  justify-content: center;
}

#one{
  margin-right: 20px;
  border-radius: 100%;
  padding: 5px;
  background-color: white;
  transition: all 0.2s ease-in-out ;
  font-size: 35px;
}
#one:hover{
  fill: white;
  background-color: black;
}
#two{
  font-size: 35px;
  margin-right: 20px;
  border-radius: 100%;
  padding: 5px;
  background-color: white;
  transition: all 0.2s ease-in-out ;

}
#two:hover{
  fill: white;
  background-color: black;
}
#three{
  font-size: 35px;
  border-radius: 100%;
  padding: 5px;
  background-color: white;
  transition: all 0.2s ease-in-out ;

}
#three:hover{
  fill: white;
  background-color: black;
}

.about{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 200px 200px 200px;
  gap: 50px;
  align-content: center;
  justify-items: center;
  margin-top: 20px;
}
.text{
text-align: left;
text-wrap:wrap;
padding: 5px;
margin-left: 20px;
place-self: center;
animation: float 5s ease-in-out 0.5s infinite;

}
#imgone{
 place-self: center;
 animation: float 3s ease-in-out 0.5s infinite;
  width: 300px;
  height: 300px;
}
#imgtwo{
  place-self: center;
  animation: float 3s ease-in-out 0.5s infinite;
  width: 300px;
  height: 300px;
}
#imgthree{
  place-self: center;
  animation: float 3s ease-in-out 0.5s infinite;
  width: 300px;
  height: 300px;
}
.projectpage{
  display :flex ;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.projectpage p{
  text-decoration: none;

}
.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
 margin-top: 100px;
  width: 250px;
  flex-wrap: wrap;
  border:5px solid #c5c3c1;
  background-color: #34363a;
  opacity: 0.5;
  
  animation: float 3s ease-in-out 0.5s infinite;
border-radius: 10px;
  transition:all 0.3s ease-in-out;
}
.projects:hover{
  opacity:1;
}
.imgp{width: 100px ;height: 100px;}
@keyframes float {
  0% {
    transform: translateY(0); /* Start position */
  }
  50% {
    transform: translateY(-10px); /* Float up */
  }
  100% {
    transform: translateY(0); /* Back to start */
  }

}


/*
.rocket {
  position: absolute;
  top: 50%;  Start in the middle of the screen 
  left: -100px; 
  width: 60px;
  z-index: -1;
  height: 120px;
  transform: rotate(90deg);
  animation: rocketWave 6s linear infinite;
}

*/

@media (max-width:500px) {
  
  .maincontent{
    display: grid;
    grid-template-columns: 200px 200px;
    margin-top: 50px;
  }
  .intro{
    place-self:center;
    
  }
  .introtext{
    text-align: left;
    text-wrap: wrap;
    width: 200px;
  
  }
  
  .introtext h1{
    font-size: 15pt;
    font-family:  'WeekendRacingDemoRegular', sans-serif;
  }
  .introtext p{
    font-size: 8pt;
    font-family:  'Arial', sans-serif;
  }
  .introtext h2{
    font-size: 10pt;
  }
  .img{
    place-self: center;
    animation: float 3s ease-in-out 0.5s infinite;
    width: 100px;
    height:100px;
  }
  
  .icons{
    display: flex;
    width: 200px;
    justify-content: center;
  }
  #one{
  margin-right: 20px;
  border-radius: 100%;
  padding: 5px;
  background-color: white;
  transition: all 0.2s ease-in-out ;
  font-size: 25px;
}

#two{
  margin-right: 20px;
  border-radius: 100%;
  padding: 5px;
  background-color: white;
  transition: all 0.2s ease-in-out ;
  font-size: 25px;
}

#three{
  border-radius: 100%;
  padding: 5px;
  background-color: white;
  transition: all 0.2s ease-in-out ;
  font-size: 25px;
}

  }/*NAVBAR*/
  .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 5px;
    
   }
   .navlinks{
    text-decoration: none;
    color: var(--foreground);
    margin-right: 50px;
    font-size: 8pt;
   }
   .navlinks:hover{
    color:#6a89de;
   }
   
   .sicons{
    position: relative;
    right: 100px;
   }
   .navlinksi{
    display: none;
   }
   /*ABOUT PAGE*/
   .about{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 200px 200px 200px;
    gap: 50px;
    align-content: center;
    justify-items: center;
    margin-top: 20px;
  }
  .text{
  text-align: left;
  text-wrap:wrap;
  padding: 5px;
  margin-left: 20px;
  place-self: center;
  animation: float 5s ease-in-out 0.5s infinite;
  font-size: 9pt;
  height: 100px;
  width: 200px;
  }
  #imgone{
   place-self: left;
   animation: float 3s ease-in-out 0.5s infinite;
    width: 100px;
    height: 100px;
  }
  #imgtwo{
    place-self: center;
    animation: float 3s ease-in-out 0.5s infinite;
    width: 100px;
    height: 100px;
  }
  #imgthree{
    place-self: center;
    animation: float 3s ease-in-out 0.5s infinite;
    width: 100px;
    height: 100px;
  }
